#my-location {
  width: 400px;
  border: 1px solid gainsboro;
  float: left;
}

@media screen and (max-width: 400px) {
  #profile-container {
    text-align: center;
  }
  .profile-icon {
    margin-left: 24px;
  }
  .profile-icon img {
    width: 50px;
    height: 50px;
  }
  #profile-icon-container {
    display: flex;
    float: left;
  }
}
