.chat-contentt {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid gainsboro;
}
.chat-contenttt {
  height: 250px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
}
.list-group-item {
  margin-bottom: 1px;
}

.text-small {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
}
.chat-box {
  background: rgba(157, 157, 157, 0.2);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  float: left;
}

.mine {
  background: #99ffff;
  float: right;
}

.upload-name {
  width: 300px;
}

.gutter-row {
  margin-top: 30px;
}
#first-row {
  width: 1000px;
  margin-right: 80px;
}

#second-row {
  text-align: center;
  margin-right: 45px;
}

#img {
  margin-bottom: 10px;
}
#first--Button {
  margin-top: 2px;
}

.second-button {
  width: 342px;
  margin-bottom: 13px;
}

#third-button {
  margin-top: 54px;
}

#submit-2 {
  width: 300px;
}

@media screen and (max-width: 400px) {
  #img {
    margin-bottom: 10px;
  }
  #descriptions {
    width: 380px;
  }
  #first-row {
    margin-right: 1000px;
  }
  #second-row {
    margin-right: 1000px;
  }
  #second-row h3 {
    width: 380px;
  }
  #auctionBoard {
    width: 380px;
  }
  #third-row {
    margin-right: 1000px;
  }

  .second-button {
    width: 200px;
    margin-bottom: 13px;
  }
  #submit-2 {
    width: 200px;
  }

  .chat-contentt {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid gainsboro;
    margin-left: 43px;
  }
  #message {
    margin-left: 43px;
    width: 300px;
  }
  #submit-2 {
    margin-left: 43px;
    width: 300px;
  }
  #des-container {
    width: 390px;
  }
  .chat-contenttt {
    width: 300px;
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid gainsboro;
    margin-left: 43px;
    margin-bottom: 10px;
  }
  #first--Button {
    margin-left: 43px;
    width: 300px;
    margin-top: 2px;
  }
  #search {
    margin-left: 43px;
    width: 242px;
  }

  #third-button {
    margin-left: 43px;
    width: 300px;
    margin-top: 54px;
  }
  .dividers {
    width: 380px;
  }
}
